#hireTable button{
	margin: 2px;

}
#resourcesTable {
	table-layout: fixed;
}
#resourcesTable td{
	border-bottom: 1px solid rgba(255,255,255,.2);
	width: 80px;

}
#resourcesTable .values{
	text-align: center;
}
#upgradeTable button {
	margin: 2px;
	color: black;
}
#buildingTable button {

}
body{
	font-family: Verdana,Arial,sans-serif;
	background-color: gray;
}
caption{
	color: white;
}

.food{
	color: chartreuse;
}
.wood{
	color: peru;
}

.stone{
	color: darkgray;
}
.water{
	color: lightseagreen;
}
.farmers{
	color:	forestgreen;
}
.lumberjacks{
	color: sienna;
}
.miners{
	color: rgb(140,140,140);
}
.breeders{
	color: lightcoral;
}